@charset "UTF-8";

/*-----------------------public start----------------------*/
$border-color:#d8d8d8;
$font-color999:#999;
$font-color666:#666;
$font-color333:#333;
$bg-colorf8f8f8:#f8f8f8;
$color-red:#e02d2a;

%wrap-100p{
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
%wrap-95p{
  margin: 0 auto;
  width: 95.3125%;
  overflow: hidden;
}
/*实心按钮*/
%btn-s{
  height: 29px;
  line-height: 29px;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  font-size: 1.4em;
  font-family: "microsoft yahei";
}
@media screen and (min-width: 768px){
  %btn-s{
    height: 58px;
    line-height: 58px;
    font-size: 2.2em;
  }
}
/*空心btn*/
%btn-k{
  height: 28px;
  line-height: 28px;
  border-radius: 2px;
  text-align: center;
  color: $font-color666;
  font-size: 1.4em;
  font-family: "microsoft yahei";
  background-color: transparent;
  border: 1px solid $font-color999;
}
@media screen and (min-width: 768px){
  %btn-k{
    height: 56px;
    line-height: 56px;
    font-size: 2.2em;
  }
}
/*加载中btn*/
button.load-btn{
  background: #c9c9c9;
}

/*加减数量item*/
.select-number{
  margin: 13px 0 0 8px;
  float: left;
  width: 88px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid $border-color;
  font-size: 1.4em;
  span{
    width: 24px;
    height: 25px;
    float: left;
  }
  .left{
    border-right: 1px solid $border-color;
  }
  .right{
    border-left: 1px solid $border-color;
  }
  .select-number-input{
    float: left;
    width: 38px;
    height: 25px;
    border: 0 none;
    text-align: center;
  }
}
@media screen and (min-width: 768px){
  .select-number{
    margin: 26px 0 0 16px;
    width: 178px;
    height: 50px;
    line-height: 50px;
    font-size: 2.2em;
    span{
      width: 48px;
      height: 50px;
    }
    .select-number-input{
      width: 76px;
      height: 50px;
    }
  }
}

/*input输入框*/
%input-text{
  height: 30px;
  border: 1px solid $border-color;
  font-size: 1.2em;
  text-indent: 8px;
  display: block;
}
@media screen and (min-width: 768px){
  %input-text{
    height: 60px;
    border: 1px solid $border-color;
    font-size: 2.2em;
    text-indent: 16px;
  }
}

/*textarea 文本框*/
%input-textarea{
  border: 1px solid $border-color;
  font-size: 1.2em;
  text-indent: 8px;
  display: block;
}
@media screen and (min-width: 768px){
  %input-textarea{
    border: 1px solid $border-color;
    font-size: 2.2em;
    text-indent: 16px;
    display: block;
  }
}
/*checkbox */
input[type="checkbox"] {
  width: 12px;
  height: 12px;
  border: 1px solid $border-color;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type="checkbox"]:checked {
  background: image-url("checked.png") 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
@media screen and (min-width: 768px){
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
}
/*select 下拉框*/
.select-wrap {
  position: relative;
  margin-bottom: 8px;
  width: 99%;
  height: 36px;
  overflow: hidden;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-size: 1.4em;
  background: #fff;
  .select-draw-con{
    position: absolute;
    font-size: 1em;
    z-index: 2;
    width: 100%;
    height: 36px;
    color: #999;
    text-indent: 1em;
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .logo {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0px;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background: #f9f9f9;
    span {
      margin: 11px 0 0 11px;
      display: block;
      //@include responsive-sprite(icon, $icon, select-logo);
    }
  }
}
@media screen and (min-width: 768px){
  .select-wrap {
    height: 68px;
    .select-draw-con {
      height: 68px;
      font-size: 1.4em;
      color:#999;
    }
    .logo {
      width: 68px;
      height: 68px;
      span {
        margin: 28px 0 0 24px;
        //@include responsive-sprite(icon_2x, $icon_2x, select-logo);
      }
    }
  }
}
/*-----------------------public end----------------------*/


* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  height: 100%;
}

body {
  line-height: 1.5;
  color: #666;
  height: 100%;
  background: #fff;
  -webkit-overflow-scrolling: touch;
}

a {
  color: #666;
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, em, span, i, strong {
  font-weight: normal;
  font-style: normal;
}

img {
  width: 100%;
  max-width: 100%;
}

li {
  list-style-type: none;
}
button{
  border: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"]{
  outline: 0 none;
  -webkit-tap-highlight-color: transparent;/*ios私有*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*屏蔽苹果手机样式 */
input[type="button"], input[type="submit"], input[type="reset"] {

  -webkit-appearance: none;
}
/*-----------------------footer----------------------*/
.footer{
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.2em;
  color: #a7a7a7;
}
.mod-foot-nav{
  position: relative;
  @extend %wrap-100p;
  height: 50px;
  background: $font-color333;
  border-top: 1px solid #000;
}
.foot-nav-list{
  margin-left: 10px;
  height: 50px;
  overflow: hidden;
  li{
    position: relative;
    float: left;
    width: 25%;
    font-size: 1.2em;
    text-align: center;
    line-height: 7;
  }
  span{
    position: absolute;
    top: 2px;
    right: 14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: 1em;
    background: $color-red;
    color: #ffffff;
  }
  .foot-nav-icon{
    fill: currentColor;
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -13px;
    width: 26px;
    height: 26px;
    display: block;
  }
  a{
    display: block;
    color: #ffffff;
  }
  .flg-icon a{
    color: $color-red;
  }
}

.search{
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  margin: 0 auto;
  width: 318px;
  height: 50px;
  .search-btn{
    @extend %btn-s;
    margin-top: 10px;
    width: 36px;
    height: 25px;
    line-height: 25px;
    background: $color-red;
  }
  .icon-iconfont-left{
    margin: 10px 10px 0 12px;
    float: left;
    fill: #535353;
    width: 14px;
    height: 25px;
  }
}
.search-input-wrap{
  position: relative;
  margin-top: 10px;
  margin-right: 6px;
  float: left;
  .search-input{
    width: 234px;
    height: 25px;
    background-color: #535353;
    border-radius: 2px;
    border: 0 none;
    font-size: 1.2em;
    color: #ffffff;
    font-family: "microsoft yahei";
    text-indent: 2.6em;
  }
  .search-log{
    padding-right: 6px;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 12px;
    height: 12px;
    border-right: 1px solid #fff;
    fill: #fff;
  }
}

.mod-foot-nav:target .search{
  -webkit-animation: in-put .3s ease-out;
  -o-animation: in-put .3s ease-out;
  animation: in-put .3s ease-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.mod-foot-nav:target .foot-nav-list{
  display: none;
}

@keyframes in-put {
  0%{
    opacity: 0;
    left: -100%;
  }
  100%{
    opacity: 1;
    left: 0;
  }
}
@-webkit-keyframes in-put {
  0%{
    opacity: 0;
    left: 100%;
  }
  100%{
    opacity: 1;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer{
    height: 80px;
    line-height: 80px;
    font-size: 2em;
  }
  .mod-foot-nav{
    height: 100px;
  }
  .foot-nav-list{
    height: 100px;
    li{
      position: relative;
      font-size: 2em;
      line-height: 8;
    }
    span{
      position: absolute;
      top: 8px;
      right: 54px;
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
    .foot-nav-icon{
      fill: currentColor;
      position: absolute;
      top: 12px;
      left: 50%;
      margin-left: -26px;
      width: 52px;
      height: 52px;
      display: block;
    }
  }
  .search{
    margin: 0 auto;
    width: 634px;
    height: 100px;
    .search-btn{
      margin-top: 20px;
      width: 74px;
      height: 50px;
      line-height: 50px;
      background: $color-red;
    }
    .icon-iconfont-left{
      margin: 20px 20px 0 24px;
      float: left;
      fill: #535353;
      width: 30px;
      height: 50px;
    }
  }
  .search-input-wrap{
    position: relative;
    margin-top: 20px;
    margin-right: 15px;
    float: left;
    .search-input{
      width: 470px;
      height: 50px;
      background-color: #535353;
      border-radius: 2px;
      border: 0 none;
      font-size: 2em;
      color: #ffffff;
      font-family: "microsoft yahei";
      text-indent: 3em;
    }
    .search-log{
      padding-right: 15px;
      position: absolute;
      top: 14px;
      left: 14px;
      width: 24px;
      height: 24px;
      border-right: 1px solid #fff;
      fill: #fff;
    }
  }
}

/*-----------------------foot end----------------------*/

/*-----------------------aside-item start----------------------*/
.aside-item{
  position: fixed;
  right: 0;
  top: 50%;
  width: 32px;
  li{
    margin-bottom: 2px;
    width: 32px;
    height: 32px;
    background-color: rgba(0,0,0,0.6) ;
    /*&:nth-of-type(1){
      background: rgba(0,0,0,0.6) url(../img/iconfont-93.png) center center no-repeat;
      -webkit-background-size: 32px auto;
      background-size: 22px auto;
    }
    &:nth-of-type(2){
      background: rgba(0,0,0,0.6) url(../img/iconfont-sh.png) center center no-repeat;
      -webkit-background-size: 32px auto;
      background-size: 22px auto;
    }
    &:nth-of-type(3){
      background: rgba(0,0,0,0.6) url(../img/iconfont-sh.png) center center no-repeat;
      -webkit-background-size: 32px auto;
      background-size: 22px auto;
    }*/
  }
  .aside-item-icon{
    margin: 6px 0 0 6px;
    width: 22px;
    height: 22px;
    fill: #fff;
  }
}

@media screen and (min-width: 768px) {
  .aside-item{
    position: fixed;
    right: 0;
    top: 50%;
    width: 64px;
    li{
      margin-bottom: 2px;
      width: 64px;
      height: 64px;
      /*&:nth-of-type(1){
        background: rgba(0,0,0,0.6) url(../img/iconfont-93.png) center center no-repeat;
        -webkit-background-size: 64px auto;
        background-size: 44px auto;
      }
      &:nth-of-type(2){
        background: rgba(0,0,0,0.6) url(../img/iconfont-sh.png) center center no-repeat;
        -webkit-background-size: 64px auto;
        background-size: 44px auto;
      }
      &:nth-of-type(3){
        background: rgba(0,0,0,0.6) url(../img/iconfont-sh.png) center center no-repeat;
        -webkit-background-size: 32px auto;
        background-size: 44px auto;
      }*/
    }
    .aside-item-icon{
      margin: 12px 0 0 12px;
      width: 42px;
      height: 42px;
      fill: #fff;
    }
  }
}
/*-----------------------aside-item end----------------------*/