@charset "utf-8";
/**
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2014/12/5 
 * Time: 14:00 
 * To change this template use File | Settings | File Templates. 
 */

@import "rest";

body{

}
/*-----------------------gl 买家订单 开始----------------------*/
/*-查看物流 logistics.html-*/


//查看物流 顶部订单信息 begin
.logistics-n{
  background: url("../img/iconfont-deliver.png") no-repeat;
  background-size: 14%;
  margin:10px;
  height:50px;
  border-bottom:1px solid #d3d3d3;
  p{
    margin-left: 20%;
    font-size: 1.2em;
    line-height:180%;
  }
}

@media screen and (min-width: 768px) {
  .logistics-n{
    background: url("../img/iconfont-deliver.png") no-repeat;
    background-size: 8%;
    margin:10px;
    height:100px;
    border-bottom:1px solid #d3d3d3;
    p{
      margin-left: 14%;
      font-size: 2em;
      line-height: 200%;

    }
  }
}

//查看物流 顶部订单信息 end

//查看物流   订单 begin
.shopping-listing{
  margin: 10px;

  h4{
    line-height:240%;
    font-size:1.4em;
    line-height: 300%;
    border-bottom:1px solid #d3d3d3;
  }
  .shopping-listing-box{
    margin:10px 0px;

    .slb-l{
      width: 30%;
      float:left;
      img{
        width: 80px;
        height:80px;
        border:1px solid #e5e5e5;
      }
    }
    .slb-c{
      width:45%;
      float:left;
      font-size: 1.2em;
      span{
        color:#e02d2a;
      }
    }
    .slb-r{
      width:25%;
      float: right;
      text-align: right;
      color:#afafaf;
      font-size: 1.2em;
    }
  }
}
.shopping-payment{
  text-align: right;
  border-bottom:1px solid #d3d3d3;
  line-height: 300%;
  margin:0px 10px;
  font-size: 1.2em;
  span{
    color:#e02d2a;
  }
}



@media screen and (min-width: 768px) {
  .shopping-listing{
    margin: 10px;

    h4{
      line-height:240%;
      font-size:2.4em;
      line-height: 300%;
      border-bottom:1px solid #d3d3d3;
    }
    .shopping-listing-box{
      margin:10px 0px;

      height: 180px;
      .slb-l{
        width: 30%;
        float:left;

        img{
          width: 160px;
          height:160px;
          border:1px solid #e5e5e5;
        }
      }
      .slb-c{
        width:45%;
        float:left;
        font-size: 2em;
        span{
          color:#e02d2a;
        }
      }
      .slb-r{
        width:25%;
        float: right;
        text-align: right;
        color:#afafaf;
        font-size: 2em;
      }
    }
  }
  .shopping-payment{
    text-align: right;
    border-bottom:1px solid #d3d3d3;
    line-height: 300%;
    margin:0px 10px;
    font-size: 2em;
    span{
      color:#e02d2a;
    }
  }

}
//查看物流   订单 end



//查看物流 物流详情 begin
.logistics-information{
  margin: 10px;
  h4{
    line-height:240%;
    font-size:1.4em;
    line-height: 300%;
    border-bottom:1px solid #d3d3d3;

  }
  ul{
    background:url("../img/logistics-line.jpg") repeat-y;
    margin:5%;

    display: block;
    font-size:1.2em;

    li{
      clear: both;
      .round-f{
        background: #94d8b6;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;

        float:left;
        .round-small-f{
          background: #00a150;
          width: 10px;
          height: 10px;
          margin: 3px;
          position: absolute;
          display: block;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          border-radius: 10px;
        }
      }
      .information-f{
        float: left;
        margin-left:10px;
        margin-top: -5px;

        padding-bottom: 10px;
        p{
          color:#01a050;
        }
      }
      .round-gray{
        background: #eeeeee;
        width: 12px;
        height: 12px;
        margin-left: -5px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        float:left;

      }
      .information-gray{
        float: left;
        margin-top: -5px;
        margin-left:10px;
        padding-bottom: 10px;
        p{
          color:#666;
        }
      }

    }
    p{
      clear: both;
      color:#a7a7a7;
      line-height: 180%;
      float:left;
    }
  }
}

@media screen and (min-width: 768px) {
  .logistics-information{
    margin: 10px;
    h4{
      line-height:240%;
      font-size:2.4em;
      line-height: 300%;
      border-bottom:1px solid #d3d3d3;

    }
    ul{
      background:url("../img/logistics-line.jpg") repeat-y;
      margin:5%;

      display: block;
      font-size:2em;

      li{
        clear: both;
        .round-f{
          background: #94d8b6;
          width: 26px;
          height: 26px;
          margin-left: -13px;
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          float:left;
          .round-small-f{
            background: #00a150;
            width: 20px;
            height: 20px;
            margin: 3px;
            position: absolute;
            display: block;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
          }
        }
        .information-f{
          float: left;
          margin-left:10px;

          padding-bottom: 10px;
          p{
            color:#01a050;
          }
        }
        .round-gray{
          background: #eeeeee;
          width: 20px;
          height: 20px;
          margin-left: -8px;
          -moz-border-radius: 20px;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          float:left;
        }
        .information-gray{
          float: left;
          margin-left:10px;
          padding-bottom: 10px;
          p{
            color:#666;
          }
        }

      }
      p{
        clear: both;
        color:#a7a7a7;
        line-height: 180%;
        float:left;
      }
    }
  }
}




.shopping-listing-box{
  border-bottom: 1px solid #d3d3d3;
  height:100px;
  .slb-l{
    width:30%;
    float:left;
    img{
      boreder:1px solid #f6f6f6;
      widht:94%;
      mright-right:6%;
    }
  }
  .slb-c{
    widht:45%;
    float:left;
    line-height: 180%;
  }
  .slb-r{
    width: 25%;
    float:right;
  }
}
//查看物流 物流详情 end



/*-我的订单  my-order-show.html-*/
.order-b{
  border-bottom: 1px solid #d3d3d3;
  margin: 0px 10px;
}
.order-add{
  font-size: 1.2em;
  padding:10px 0;
  line-height: 240%;
  h4{
    color:#333;
  }
}

@media screen and (min-width: 768px) {
  .order-add{
    font-size: 2em;
    padding:10px 0;
    line-height: 240%;
    h4{
      color:#333;
    }
  }
}
.order-box{
  color:#666;
  line-height: 180%;
  h4{
    color:#333;
  }
  span{
    color:#999;
    margin-left: 5px;
  }
  i{
    color:#e02d2a;
    margin-left: 5px;
  }
  ul{
    font-size: 1.2em;
    padding:10px 0;
    line-height: 240%;
    a{
      background: url("../img/arrow1.png") right no-repeat;
      display: block;
      background-size: 10%;
    }
  }
}

@media screen and (min-width: 768px) {
  .order-box{
    color:#666;
    line-height: 180%;
    h4{
      color:#333;
    }
    span{
      color:#999;
      margin-left: 5px;
    }
    i{
      color:#e02d2a;
      margin-left: 5px;
    }
    ul{
      font-size: 2em;
      padding:10px 0;
      line-height: 240%;
      a{
        background: url("../img/arrow1.png") right no-repeat;
        display: block;
        background-size: 8%;
      }
    }
  }

}
/*-订单列表  order-list.html-*/

//订单头部选项卡部分
.order-top{
  border-bottom: 1px solid #d3d3d3;

  overflow: hidden;
  li{
    float:left;
    margin: 5px 0;
    text-align: center;
    font-size:1.2em;
    width: 24%;
    line-height: 240%;
    span{
      color:#dd2f2f;
    }
  }
  .r-b{
    border-right:1px solid #d3d3d3;
  }
  .r-h a{
    color:#dd2f2f;
  }
}

@media screen and (min-width: 768px) {
  .order-top{
    li{
      font-size: 2em;
    }
  }
}

//单独订单
.order-l-b{
  clear: both;
  h4{
    background: url(../img/256-256.png) 10px no-repeat;
    background-size: 6%;
    margin: 0px 10px;
    line-height: 300%;
    font-size: 1.2em;
    padding-left: 50px;
    border-bottom:1px solid #d3d3d3;
    overflow: hidden;
    border-top:1px solid #d3d3d3;
    display: block;
    margin-top: 10px;
    span{
      float: right;
      color:#dd2f2f;
    }
  }
  .order-payment{
    text-align: right;
    line-height: 300%;
    margin: 0px 10px;
    font-size: 1.2em;
    border-bottom:1px solid #d3d3d3;
    i{
      float:left;
    }
    span{
      color:#dd2f2f;
    }
  }
  .order-dd-button1{
    background: #f1f1f1;
    -moz-border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    border-radius:  0px 0px 2px 2px;
    width: 30px;
    height: 26px;
    margin: 0 auto;
    a{
      background: url(../img/arrow2.png) no-repeat;
      display: block;
      background-size: 100%;
      overflow: hidden;
      width: 30px;
      height: 26px;
    }
  }
  .order-dd-button2{
    background: #f1f1f1;
    -moz-border-radius: 0px 0px 2px 2px;
    -webkit-border-radius: 0px 0px 2px 2px;
    border-radius:  0px 0px 2px 2px;
    width: 30px;
    height: 26px;
    margin: 0 auto;
    a{
      background: url(../img/arrow3.png) no-repeat;
      display: block;
      background-size: 100%;
      overflow: hidden;
      width: 30px;
      height: 26px;
    }
  }
}
.gl-btn-k1{
  @extend %btn-k;

  font-size: 1.4em;
  width: 31%;
  margin: 2%;
  float: right;
  background-color: transparent;
  border: 1px solid $font-color999;
}
.gl-btn-k2{
  @extend %btn-k;
  color: #dd2f2f;
  font-size: 1.4em;
  width: 31%;
  margin: 2%;
  float: right;
  background-color: transparent;
  border: 1px solid #dd2f2f;
}
.order-button-b{
  overflow: hidden;
  display: block;
}
@media screen and (min-width: 768px) {
  .order-l-b{
    clear: both;
    h4{
      background: url(../img/256-256.png) 10px no-repeat;
      background-size: 3%;
      margin: 0px 10px;
      line-height: 300%;
      font-size: 2em;
      padding-left: 50px;
      border-bottom:1px solid #d3d3d3;
      overflow: hidden;
      border-top:1px solid #d3d3d3;
      display: block;
      margin-top: 10px;
      span{
        float: right;
        color:#dd2f2f;
      }
    }
    .order-payment{

      margin: 0px 10px;
      font-size: 2em;
      border-bottom:1px solid #d3d3d3;

    }
    .order-dd-button1{

      width: 50px;
      height: 40px;
      margin: 0 auto;
      a{

        width: 50px;
        height: 40px;
      }
    }
    .order-dd-button2{

      width: 50px;
      height: 40px;
      margin: 0 auto;
      a{

        width: 50px;
        height: 40px;
      }
    }
  }
  .gl-btn-k1{
    height: 54px;
    line-height: 54px;
    font-size: 2em;

  }
  .gl-btn-k2{
    height: 54px;
    line-height: 54px;
    font-size: 2em;

  }
}

//用户中心
.user-bg{
  background: #f6f6f6;
  display: block;
  .user-top{
    background: #dd2f2f;
    height: 80px;
    width: 100%;
    p{
      text-align: center;
    }
    img{
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      width: 70px;
      height: 70px;
      text-align: center;
      margin: 0 auto;  vertical-align:middle;
      border: 3px solid #fff;
    }
    h1{
      text-align: center;
      line-height: 300%;
      color:#fff;
      font-size: 1.6em;
      font-weight: bold;
    }
  }
}
.user-list{
  margin: 45px 10px 0px 10px;

  li{
    line-height: 400%;
    font-size: 1.2em;
    width: 100%;
    float:left;
    border-bottom:1px solid #d3d3d3;
    span{
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      background: #dd2f2f;
      color:#fff;
      width: 20px;
      height: 20px;
      padding:0px 5px;
      margin-left: 15px;
    }
    img{
      width: 8%;
      padding-top: 12px;
      float:left;
      margin-right: 15px;
    }
    a{
      background: url("../img/arrow1.png") right no-repeat;
      background-size: 10%;
      width: 100%;
      display: block;
    }
  }
}
@media screen and (min-width: 768px) {
  .user-bg{
    background: #f6f6f6;
    display: block;
    .user-top{
      background: #dd2f2f;
      height:160px;
      width: 100%;
      p{
        text-align: center;
      }
      img{
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 140px;
        height: 140px;
        text-align: center;
        margin: 0 auto;  vertical-align:middle;
        border: 6px solid #fff;
      }
      h1{
        text-align: center;
        line-height: 300%;
        color:#fff;
        font-size: 2.4em;
        font-weight: bold;
      }
    }
  }
  .user-list{
    margin: 85px 10px 0px 10px;

    li{
      line-height: 400%;
      font-size: 2em;
      width: 100%;
      border-bottom:1px solid #d3d3d3;
      float:left;
      span{
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;

        width: 30px;
        height: 30px;
        padding:0px 8px;
        margin-left: 15px;
      }
      img{
        width: 4%;
        padding-top: 24px;
        margin-right: 15px;
      }
      a{
        background: url("../img/arrow1.png") right no-repeat;
        background-size: 6%;

      }
    }
  }

}
//用户中心-意见反馈
.feedback-box{
  margin:0px 3%;
  h4{
    line-height:240%;
    font-size:1.4em;
    line-height: 300%;
  }
  textarea{

    background: #f6f6f6;
    width: 96%;
    border:1px solid #d3d3d3;
    color:#c4c4c4;
    text-align: left;
    font-size: 1.2em;
    line-height: 180%;
    padding: 2%;
  }
  p{
    line-height: 300%;
    color:#e02d2a;
    font-size: 1.2em;
  }
  input{
    width: 96%;
    height: 32px;
    font-size: 1.2em;
    padding: 2%;
    background: #f6f6f6;
    color:#c4c4c4;
    border:1px solid #d3d3d3;
  }
}
.user-b{
  width: 94%;
  margin:0px 3%;
  background:#e02d2a ;
  border: 0;
  @extend %btn-s;
}
@media screen and (min-width: 768px) {
  .feedback-box{
    margin:0px 3%;
    h4{
      line-height:240%;
      font-size:2.4em;
      line-height: 300%;
    }
    textarea{

      background: #f6f6f6;
      width: 96%;
      border:1px solid #d3d3d3;
      color:#c4c4c4;
      text-align: left;
      font-size: 2em;
      line-height: 180%;
      padding: 2%;
    }
    p{
      line-height: 300%;
      color:#e02d2a;
      font-size: 2em;
    }
    input{
      width: 96%;
      height: 32px;
      font-size: 2em;
      padding: 2%;
      background: #f6f6f6;
      color:#c4c4c4;
      border:1px solid #d3d3d3;
    }
  }
}
//用户中心-我的收藏

//用户中心-我的收藏-店铺
.collection-top{
  font-size: 1.2em;
  line-height: 300%;
  display: block;
  overflow: hidden;
  border-bottom:1px solid #d3d3d3;
  li{
    width: 49%;
    float: left;
    text-align: center;
    margin: 5px 0;
    span{
      color:#dd2f2f;
    }
  }
  .collection-top-color{
    color:#dd2f2f;
  }
  .collection-top-lb{
    border-right:1px solid #d3d3d3;
    display: block;
    overflow: hidden;
  }
}
.collection-box{

  margin: 0px 10px;

  li{
    float:left;
    width: 100%;
  }
}
.collection-box-dp{
  border-bottom:1px solid #d3d3d3;
  font-size: 1.6em;
  overflow:hidden;
  display: block;
  line-height: 70px;
  .dp-photo{
    float:left;
    width: 75%;
    img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border: 3px solid #fff;
      margin: 5px 0px;
      float:left;
    }
    span{
      float:left;
      padding-left: 10px;
    }
  }
  .dp-stars{
    float:right;
    width: 10%;
    padding-top: 30px;
    img{
      width: 60%;
      text-align: right;
    }
  }
}
@media screen and (min-width: 768px) {
  .collection-top{
    font-size: 2em;
  }
  .collection-box{

    margin: 0px 10px;

  }
  .collection-box-dp{
    font-size: 2.4em;

    line-height: 100px;
    .dp-photo{
      float:left;
      width: 75%;
      img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 3px solid #fff;
        margin: 5px 0px;
        float:left;
      }
      span{
        float:left;
        padding-left: 10px;
      }
    }
    .dp-stars{
      float:right;
      width: 10%;
      img{
        width: 40%;
        text-align: right;
      }
    }
  }
}

//用户中心-我的收藏-买家
.collection-sp{
  margin:0px 10px;

  li{
    overflow: hidden;
    display: block;
    border-bottom:1px solid #d3d3d3;
  }
  .sp-photo{
    float:left;
    width: 85%;
    img{
      width: 70px;
      background: #fff;
      height: 70px;
      border: 1px solid  #d3d3d3;
      float: left;
      padding:2px;
      margin: 5px 0;

    }
    .sp-photo-name{
      float:left;
      width: 60%;
      margin-left: 5px;
      h4{
        font-size: 1.4em;
        height: 40px;
        overflow: hidden;
        line-height: 40px;
      }
      p{
        color:#999;
        line-height: 150%;
        font-size: 1.2em;
      }
    }
  }
  .dp-stars{
    float:right;
    width: 10%;
    padding-top:30px;
    img{
      width: 60%;
      text-align: right;
    }
  }
}
@media screen and (min-width: 768px) {
  .collection-sp{
    margin:0px 10px;

    .sp-photo{
      float:left;
      width: 85%;
      img{
        width:120px;
        background: #fff;
        height: 120px;
        border: 1px solid  #d3d3d3;
        float: left;
        padding:2px;
        margin: 10px 0;

      }
      .sp-photo-name{
        float:left;
        width: 60%;
        margin-left: 5px;
        h4{
          font-size: 2.4em;
          height: 60px;
          overflow: hidden;
          line-height: 60px;
        }
        p{
          color:#999;
          line-height: 150%;
          font-size: 2em;
        }
      }
    }
    .dp-stars{
      float:right;
      width: 10%;
      padding-top:50px;
      img{
        width: 40%;
        text-align: right;
      }
    }
  }
}
.collection-none{
  text-align: center;
  padding: 30px 0;
  font-size: 1.4em;
  color:#999;
  img{
    width: 30%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .collection-none {
    font-size: 2em;
    img {
      width: 20%;
    }
  }
}
//用户中心-我的收藏-地址
.add{
  margin: 0px 10px;
  h4{
    line-height: 300%;
    font-size: 1.4em;
    border-bottom: 1px solid  #d3d3d3;
    overflow: hidden;
    display: block;
  }
  .add-box-box{
     border-bottom: 1px solid  #d3d3d3;
     padding: 5px 0px;
    overflow: hidden;

    display: block;
    .add-box-l{
      width: 10%;
      height:100%;
      float:left;
      overflow: hidden;
      display: block;
      img{
        width: 60%;
        margin-top: 20px;
      }
    }
    .add-box-c{
      width: 76%;
      float:right;
      font-size: 1.2em;
      line-height: 180%;
      span{
        color:#999;
        padding-right: 10px;
      }
    }
    .add-box-r{
      width:10%;
       float: right;
      a{
        margin: 7px 0px;
        img{
          width: 60%;
          padding: 3px 0;
        }
      }
    }
  }

}
.user-add{
  @extend %btn-s;
  width: 94%;
  margin: 3%;
  background:#e02d2a ;
  border: 0;
}
@media screen and (min-width: 768px) {
  .add{
    margin: 0px 10px;
    overflow: hidden;
    display: block;
    padding-bottom:20px;
    h4{
      font-size: 2.4em;
    }
    .add-box-box{
      .add-box-l{
        width: 10%;
        height:100%;
        float:left;
        overflow: hidden;
        display: block;
        img{
          width: 40%;
          margin-top: 25px;
        }
      }
      .add-box-c{
        font-size: 2em;
        span{
          color:#999;
          padding-right: 20px;
        }
      }
      .add-box-r{
        width:10%;
        float: right;
        a{
          margin: 7px 0px;
          display: block;
          img{
            width: 30%;
            padding: 1px 0;
          }
        }
      }
    }
  }
  .user-add{
    @extend %btn-s;
    background:#e02d2a ;
    width: 98%;
    width: 98%;
    border: 0;
    margin:1%;

  }
}

.add-add{
  padding: 4px 0px;
  margin:4px 0px;
  overflow: hidden;
  font-size: 1.2em;
  color:#666;
  display: block;
  clear: both;
  .add-l{
    width: 30%;
    float:left;
    font-size: 1.2em;
    line-height: 30px;

  }
  .add-r{
    width: 69%;
    float:left;
    font-size: 1.2em;
    .add-srk{
      @extend %input-text;
      width: 100%;
      color:#999;
      font-size: 1.2em;
    }
    textarea{
      border: 1px solid $border-color;
      font-size: 1.2em;
      text-indent: 8px;
      padding: 5px 0;
      color:#999;
      display: block;
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .add-add{
    padding: 8px 0px;
    margin:8px 0px;
    overflow: hidden;
    display: block;
    clear: both;
    .add-l{
      width: 30%;
      float:left;
      color:#666;
      font-size: 2em;
      line-height: 60px;

    }
    .add-r{
      width: 69%;
      float:left;
      font-size: 1.6em;
      .add-srk{

      }
      textarea{
        border: 1px solid $border-color;
        font-size: 1.6em;
        text-indent: 8px;
        padding: 5px 0;
        color:#999;
        display: block;
        width: 100%;
      }
    }
  }
}


/*checkbox */
input[type="checkbox"] {
  width: 12px;
  height: 12px;
  border: 1px solid $border-color;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type="checkbox"]:checked {
  background: image-url("checked.png") 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
@media screen and (min-width: 768px){
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
}
/*select 下拉框*/
.select-wrap {
  position: relative;
  margin-bottom: 8px;
  display: block;
  height: 30px;
  width: 100%;
  float:left;
  overflow: hidden;
  border: 1px solid $border-color;
  font-size: 1.4em;
  background: #fff;
  .select-draw-con{
    position: absolute;
    font-size: 1em;
    z-index: 2;
    width: 100%;
    height: 30px;
    color: #999;
    text-indent: 1em;
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .logo {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    background: #f9f9f9;
  }
  .icon-arrow-down{
    margin: 6px 0 0 6px;
    width: 20px;
    height: 20px;
    fill: #bcbcbd;
  }
}
@media screen and (min-width: 768px){
  .select-wrap {
    height: 60px;
    .select-draw-con {
      height: 60px;
      font-size: 1.4em;
      color:#999;
    }
    .logo {
      width: 60px;
      height: 60px;
    }
    .icon-arrow-down{
      margin: 12px 0 0 12px;
      width: 40px;
      height: 40px;
    }
  }
}

.ticket-b{
  padding: 6px 0px;
  margin:6px 0px;
  overflow: hidden;
  font-size: 1.2em;
  color:#666;
  display: block;
  span{
    margin: 0px 5px;
  }
}
@media screen and (min-width: 768px){
  .ticket-b{
    padding: 8px 0px;
    margin:8px 0px;
    overflow: hidden;
    font-size: 2em;
    color:#666;
    display: block;
    span{
      margin: 0px 5px;
    }
  }
}