@charset "utf-8";
/*! $Id$ */
/**
 * Created with IntelliJ IDEA. 
 * User: llc 
 * Date: 2014/11/26 
 * Time: 10:48 
 * To change this template use File | Settings | File Templates. 
 */

@import "rest";

/*-----------------------index.html start----------------------*/

.index-wrap{
  @extend %wrap-100p;
  background: $bg-colorf8f8f8;
}
.wd-shop-head{
  @extend %wrap-95p;
  height: 58px;
  border-bottom: 1px solid $border-color;
    h1{
      margin-top: 6px;
      color: $font-color333;
      font-size: 1.6em;
    }
    i{
      font-size: 1.2em;
      color: $font-color999;
    }
}
.wd-shop-head-img{
  float: left;
  margin: 7px 13px 0 3px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.logo-star{
  position: absolute;
  top: 20px;
  right: 10px;
  width: 14px;
  height: 14px;
  fill: $color-red;
}
.shop-lab{
  @extend %wrap-100p;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #e6e6e7;
  display: table;
  li{
    width: 25%;
    float: left;
  }
  span{
    float: left;
    margin: 4px 6px 0 6px;
    width: 16px;
    height: 16px;
    display: inline-block;
  }
  i{
    float: left;
    color: $font-color999;
    font-size: 1.2em;
    display: inline-block;
  }
}
.shop-item-wrap{
  @extend %wrap-100p;
}
.shop-item{
  margin-top: 8px;
  padding-bottom: 8px;
  @extend %wrap-95p;
  background: #ffffff;
  .shop-item-pic{
    position: relative;
    span{
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background: #e02d2a;
      line-height: 30px;
      text-align: center;
      color: #ffffff;
      font-size: 1.2em;
      text-shadow: 1px 1px 2px #a51a18;
    }
  }
  .shop-item-tt{
      font-size: 1.4em;
    span{
      margin: 5px 4px 0 4px;
      float: left;
      width: 12px;
      height: 12px;
      background: url(../img/64-64.png) 0 0 no-repeat;
      -webkit-background-size: 12px auto;
      background-size: 12px auto;
    }
  }
  .shop-item-buy{
    margin-top: 10px;
    overflow: hidden;
    em{
      padding-left: 4px;
      color: $color-red;
      font-size: 1.4em;
    }
    span{
      font-size: .9em;
    }
    i{
      color: $font-color999;
      font-size: 1.2em;
    }
  }
}
.shop-item-btn{
  margin-right: 8px;
  float: right;
  width: 98px;
  @extend %btn-s;
  background: $color-red;
  font-family: "Microsoft YaHei";
}
.check-more-btn{
  margin-top: 12px;
  @extend %wrap-95p;
  @extend %btn-k;
  height: 33px;
  display: block;
}
@media screen and (min-width: 768px){
  .shop-item-btn{
    width: 196px;
  }
  .wd-shop-head{
    height: 116px;
    border-bottom: 1px solid $border-color;
    h1{
      margin-top: 12px;
      color: $font-color333;
      font-size: 2.6em;
    }
    i{
      font-size: 1.8em;
      color: $font-color999;
    }
  }
  .wd-shop-head-img{
    float: left;
    margin: 14px 26px 0 6px;
    width: 84px;
    height: 84px;
  }
  .logo-star{
    position: absolute;
    top: 40px;
    right: 20px;
    width: 28px;
    height: 28px;
  }
  .shop-lab{
    height: 80px;
    line-height: 80px;
    span{
      margin: 12px 12px 0 12px;
      width: 32px;
      height: 32px;
    }
    i{
      font-size: 2em;
    }
  }

  .shop-item{
    margin-top: 16px;
    padding-bottom: 16px;
    .shop-item-pic{
      span{
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 2.2em;
      }
    }
    .shop-item-tt{
        font-size: 2.2em;
        span{
          margin: 4px 8px 0 8px;
          width: 24px;
          height: 24px;
          -webkit-background-size: 24px auto;
          background-size: 24px auto;
        }
    }
    .shop-item-buy{
      margin-top: 20px;
      em{
        padding-left: 8px;
        font-size: 2.2em;
      }
      span{
        font-size: .9em;
      }
      i{
        font-size: 2em;
      }
    }
  }
  .shop-item-btn{
    margin-right: 16px;
    width: 196px;
  }
  .check-more-btn{
    margin-top: 24px;
    height: 66px;
  }
}

.enshrine{
  display: none;
  padding-top: 35px;
  position: fixed;
  top: 0;
  @extend %wrap-100p;
  height: 100%;
  background: rgba(0,0,0,0.6);
  p{
    padding: 10px 0;
    margin: 0 auto;
    width: 70%;
    overflow: hidden;
    color: #ffffff;
    font-size: 1.6em;
  }
  span{
    margin-right: 17px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    display: inline-block;
    background: #000000;
    text-align: center;
  }
  .bgtr{
    background-color: transparent;
  }
  .enshrine-btn{
    margin: 50px auto;
    display: block;
    width: 128px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    @extend %btn-k;
    border-color: #fff;
  }
  .heng{
    padding: 0 6px;
    width: 28px;
    height: 12px;
    display: inline-block;
  }
  .shu{
    vertical-align: middle;
    padding: 0 6px;
    width: 12px;
    height: 28px;
    display: inline-block;
  }
  .fx-btn{
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
  }
}
@media screen and (min-width: 768px){
  .enshrine{
    padding-top: 70px;
    p{
      width: 50%;
      padding: 20px 0;
      font-size: 3em;
    }
    span{
      margin-right: 34px;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }

    .enshrine-btn{
      margin: 100px auto;
      width: 256px;
      height: 70px;
      line-height: 70px;
    }
    .heng{
      padding: 0 12px;
      width: 56px;
      height: 24px;
    }
    .shu{
      padding: 0 12px;
      width: 24px;
      height: 56px;
      display: inline-block;
    }
    .fx-btn{
      width: 48px;
      height: 48px;
    }
  }
}
.add-more{
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1em;
  color: $font-color999;
}
@media screen and (min-width: 768px) {
  .add-more{
    height: 80px;
    line-height: 80px;
    font-size: 2em;
  }
  
}
/*-----------------------index.html end----------------------*/

/*-----------------------index-add.html start----------------------*/
.show-more{
  position: relative;
  @extend %wrap-100p;
  height: 63vh;
  .loading{
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    background: rgba(0,0,0,0.8);
    font-size: 1em;
  }
  p{
    margin-top: 5px;
    text-align: center;
    font-size: 1.2em;
    color: #ffffff;
  }
}
/*加载动画*/
.spinner {
  margin: 15px auto 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}

@media screen and (min-width: 768px){
  .show-more{
    .loading{
      top: 76px;
      left: 50%;
      margin-left: -80px;
      width: 160px;
      height: 160px;
      font-size: 2em;
    }
    p{
      margin-top: 10px;
    }
  }
  .spinner {
    margin: 30px auto 0 auto;
    width: 100px;
    height: 60px;
  }
}
/*-----------------------index-add.html end----------------------*/

/*-----------------------index-null.html end----------------------*/
.show-null{
  @extend %wrap-100p;
  height: 63vh;
  .iconfont-iconfontlist{
    position: relative;
    top: 18px;
    left: 50%;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    fill: #b2b1b2;
  }
  p{
    margin-top: 20px;
    text-align: center;
    font-size: 1.4em;
  }
}

@media screen and (min-width: 768px){
  .show-null{
    .iconfont-iconfontlist{
      top: 36px;
      margin-left: -90px;
      width: 180px;
      height: 180px;
    }
    p{
      margin-top: 40px;
      font-size: 2.4em;
    }
  }
}
/*-----------------------index-null.html end----------------------*/
