@charset "UTF-8";
/*-----------------------public start----------------------*/
/* line 11, ../sass/_rest.scss */
.mod-foot-nav {
  margin: 0 auto;
  width: 100%;
  overflow: hidden; }

/*实心按钮*/
/*空心btn*/
/*加减数量item*/
/* line 58, ../sass/_rest.scss */
.select-number {
  margin: 13px 0 0 8px;
  float: left;
  width: 88px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #d8d8d8;
  font-size: 1.4em; }
  /* line 67, ../sass/_rest.scss */
  .select-number span {
    width: 24px;
    height: 25px;
    float: left; }
  /* line 72, ../sass/_rest.scss */
  .select-number .left {
    border-right: 1px solid #d8d8d8; }
  /* line 75, ../sass/_rest.scss */
  .select-number .right {
    border-left: 1px solid #d8d8d8; }
  /* line 78, ../sass/_rest.scss */
  .select-number .select-number-input {
    float: left;
    width: 38px;
    height: 25px;
    border: 0 none;
    text-align: center; }

@media screen and (min-width: 768px) {
  /* line 87, ../sass/_rest.scss */
  .select-number {
    margin: 26px 0 0 16px;
    width: 178px;
    height: 50px;
    line-height: 50px;
    font-size: 2.2em; }
    /* line 93, ../sass/_rest.scss */
    .select-number span {
      width: 48px;
      height: 50px; }
    /* line 97, ../sass/_rest.scss */
    .select-number .select-number-input {
      width: 76px;
      height: 50px; } }
/*-----------------------public end----------------------*/
/* line 107, ../sass/_rest.scss */
* {
  margin: 0;
  padding: 0; }

/* line 112, ../sass/_rest.scss */
html {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  height: 100%; }

/* line 120, ../sass/_rest.scss */
body {
  line-height: 1.5;
  color: #666;
  height: 100%;
  background: #fff;
  -webkit-overflow-scrolling: touch; }

/* line 128, ../sass/_rest.scss */
a {
  color: #666;
  text-decoration: none;
  background: transparent;
  -webkit-tap-highlight-color: transparent; }

/* line 135, ../sass/_rest.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 139, ../sass/_rest.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* line 144, ../sass/_rest.scss */
h1, h2, h3, h4, h5, h6, em, span, i, strong {
  font-weight: normal;
  font-style: normal; }

/* line 149, ../sass/_rest.scss */
img {
  width: 100%;
  max-width: 100%; }

/* line 154, ../sass/_rest.scss */
li {
  list-style-type: none; }

/* line 157, ../sass/_rest.scss */
button {
  border: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* line 163, ../sass/_rest.scss */
input[type="text"] {
  outline: 0 none;
  -webkit-tap-highlight-color: transparent;
  /*ios私有*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/*屏蔽苹果手机样式 */
/* line 172, ../sass/_rest.scss */
input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none; }

/*-----------------------footer----------------------*/
/* line 177, ../sass/_rest.scss */
.footer {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.2em;
  color: #a7a7a7; }

/* line 184, ../sass/_rest.scss */
.mod-foot-nav {
  height: 50px;
  background: #333333;
  border-top: 1px solid #000; }

/* line 191, ../sass/_rest.scss */
.foot-nav-list li {
  position: relative;
  float: left;
  width: 25%;
  font-size: 1.2em;
  text-align: center;
  line-height: 7; }
/* line 199, ../sass/_rest.scss */
.foot-nav-list span {
  position: absolute;
  top: 2px;
  right: 14px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  font-size: 1em;
  background: #e02d2a;
  color: #ffffff; }
/* line 212, ../sass/_rest.scss */
.foot-nav-list .foot-nav-icon {
  fill: currentColor;
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -13px;
  width: 26px;
  height: 26px;
  display: block; }
/* line 222, ../sass/_rest.scss */
.foot-nav-list a {
  color: #ffffff; }
/* line 225, ../sass/_rest.scss */
.foot-nav-list .flg-icon a {
  color: #e02d2a; }

@media screen and (min-width: 768px) {
  /* line 231, ../sass/_rest.scss */
  .footer {
    height: 80px;
    line-height: 80px;
    font-size: 2em; }

  /* line 236, ../sass/_rest.scss */
  .mod-foot-nav {
    height: 100px; }

  /* line 240, ../sass/_rest.scss */
  .foot-nav-list li {
    position: relative;
    font-size: 2em;
    line-height: 8; }
  /* line 245, ../sass/_rest.scss */
  .foot-nav-list span {
    position: absolute;
    top: 8px;
    right: 90px;
    width: 30px;
    height: 30px;
    line-height: 30px; }
  /* line 253, ../sass/_rest.scss */
  .foot-nav-list .foot-nav-icon {
    fill: currentColor;
    position: absolute;
    top: 12px;
    left: 50%;
    margin-left: -26px;
    width: 52px;
    height: 52px;
    display: block; } }
/*-----------------------foot end----------------------*/
/*-----------------------aside-item start----------------------*/
/* line 269, ../sass/_rest.scss */
.aside-item {
  position: fixed;
  right: 0;
  top: 50%;
  width: 32px; }
  /* line 274, ../sass/_rest.scss */
  .aside-item li {
    margin-bottom: 2px;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.6);
    /*&:nth-of-type(1){
      background: rgba(0,0,0,0.6) url(../img/iconfont-93.png) center center no-repeat;
      -webkit-background-size: 32px auto;
      background-size: 22px auto;
    }
    &:nth-of-type(2){
      background: rgba(0,0,0,0.6) url(../img/iconfont-sh.png) center center no-repeat;
      -webkit-background-size: 32px auto;
      background-size: 22px auto;
    }
    &:nth-of-type(3){
      background: rgba(0,0,0,0.6) url(../img/iconfont-sh.png) center center no-repeat;
      -webkit-background-size: 32px auto;
      background-size: 22px auto;
    }*/ }
  /* line 295, ../sass/_rest.scss */
  .aside-item .aside-item-icon {
    margin: 6px 0 0 6px;
    width: 22px;
    height: 22px;
    fill: #fff; }

@media screen and (min-width: 768px) {
  /* line 304, ../sass/_rest.scss */
  .aside-item {
    position: fixed;
    right: 0;
    top: 50%;
    width: 64px; }
    /* line 309, ../sass/_rest.scss */
    .aside-item li {
      margin-bottom: 2px;
      width: 64px;
      height: 64px;
      /*&:nth-of-type(1){
        background: rgba(0,0,0,0.6) url(../img/iconfont-93.png) center center no-repeat;
        -webkit-background-size: 64px auto;
        background-size: 44px auto;
      }
      &:nth-of-type(2){
        background: rgba(0,0,0,0.6) url(../img/iconfont-sh.png) center center no-repeat;
        -webkit-background-size: 64px auto;
        background-size: 44px auto;
      }
      &:nth-of-type(3){
        background: rgba(0,0,0,0.6) url(../img/iconfont-sh.png) center center no-repeat;
        -webkit-background-size: 32px auto;
        background-size: 44px auto;
      }*/ }
    /* line 329, ../sass/_rest.scss */
    .aside-item .aside-item-icon {
      margin: 12px 0 0 12px;
      width: 42px;
      height: 42px;
      fill: #fff; } }
/*-----------------------aside-item end----------------------*/
/* line 4, ../sass/error.scss */
input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none; }

/* line 8, ../sass/error.scss */
select [name="unit"] {
  -webkit-appearance: none; }

/* line 12, ../sass/error.scss */
body {
  background: #fff;
  margin: 0;
  padding: 0; }

/* line 16, ../sass/error.scss */
li {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 19, ../sass/error.scss */
a {
  text-decoration: none; }

/* line 21, ../sass/error.scss */
ul {
  margin: 0;
  padding: 0; }

/* line 24, ../sass/error.scss */
p {
  margin: 0;
  padding: 0; }

/* line 27, ../sass/error.scss */
img {
  width: 100%; }

/* line 29, ../sass/error.scss */
option {
  padding: 0;
  margin: 0; }

/* line 32, ../sass/error.scss */
.min {
  width: 100%; }

/* line 36, ../sass/error.scss */
.bill_top {
  line-height: 40px;
  color: #666;
  font-size: 1.2em;
  border-bottom: 1px solid #d3d3d3;
  width: 95%;
  margin: 0 auto;
  font-weight: 200;
  overflow: hidden; }

/* line 47, ../sass/error.scss */
.bill_1 {
  color: #999;
  font-size: 1.2em;
  line-height: 22px;
  border-bottom: 1px solid #d3d3d3;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 10px;
  margin-top: 10px; }

/* line 58, ../sass/error.scss */
.bill_1 .bill_1_char {
  float: right;
  width: 15px;
  margin-top: 15px;
  margin-right: 12px; }

/* line 63, ../sass/error.scss */
.bill_1 li {
  float: left; }

/* line 66, ../sass/error.scss */
.bill_1_img {
  margin-top: 20px;
  margin-right: 12px;
  width: 15px; }

/* line 71, ../sass/error.scss */
.bill_1_button {
  width: 95%;
  margin: 0 auto;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  text-align: center;
  font-size: 1.4em;
  color: #ffffff;
  margin-top: 14px;
  background: #dd2f2f;
  display: block; }

/*-----------------------购物车----------------------*/
/* line 86, ../sass/error.scss */
.bill_top p {
  float: right; }

/* line 88, ../sass/error.scss */
.bill_top p:first-child {
  float: left; }

/* line 90, ../sass/error.scss */
.bill_top p span {
  color: #e02d2a; }

/* line 91, ../sass/error.scss */
.cart_char {
  padding: 0;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  border-bottom: 1px solid #d3d3d3; }

/* line 99, ../sass/error.scss */
.cart_char li {
  float: left; }

/* line 102, ../sass/error.scss */
.cart_char_0 {
  padding: 0;
  width: 95%;
  margin: 0 auto;
  margin-top: 6px;
  padding-bottom: 6px;
  overflow: hidden;
  border-bottom: 1px solid #d3d3d3; }

/* line 110, ../sass/error.scss */
.bliiBox {
  padding: 0;
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 10px;
  overflow: hidden; }

/* line 120, ../sass/error.scss */
.cart_char_0 li {
  float: left; }

/* line 123, ../sass/error.scss */
.cart_char_1 {
  margin-top: 5px;
  width: 22%; }

/* line 128, ../sass/error.scss */
.cart_char_1 img {
  width: 67px;
  height: 67px;
  border: 1px #999 solid; }

/* line 134, ../sass/error.scss */
.cart_char_2 {
  width: 50%;
  margin-left: 1%;
  line-height: 20px;
  color: #666; }

/* line 139, ../sass/error.scss */
.cart_char_2 span {
  color: #e02d2a; }

/* line 142, ../sass/error.scss */
.cart_char_2 p {
  font-size: 1em; }

/* line 145, ../sass/error.scss */
.cart_char_2 p:first-child {
  height: 58px;
  overflow: hidden;
  text-overflow: ellipsis; }

/* line 152, ../sass/error.scss */
.cart_char_3 {
  width: 25%;
  float: right;
  line-height: 20px;
  color: #999;
  text-align: right; }

/* line 158, ../sass/error.scss */
.cart_char_3 img {
  margin-top: 19px;
  width: 17px; }

/* line 163, ../sass/error.scss */
.cart_char_4 {
  color: #999;
  float: left;
  font-size: 1em;
  margin-right: 5px; }

/* line 170, ../sass/error.scss */
.cart_char_4 div {
  width: 26px;
  line-height: 26px;
  float: left;
  border: 1px #999 solid;
  text-align: center; }

/* line 177, ../sass/error.scss */
.cart_char_4_1 {
  color: #666; }

/* line 179, ../sass/error.scss */
.cart_char_5 {
  width: 90%;
  color: #999; }

/* line 184, ../sass/error.scss */
.cart_char_5 p:first-child {
  color: #666; }

/* line 188, ../sass/error.scss */
.cart_char_5 p {
  width: 100%;
  font-size: 1.2em;
  line-height: 34px; }

/* line 193, ../sass/error.scss */
.cart_char_6 img {
  margin-top: 100%;
  width: 20px; }

/* line 197, ../sass/error.scss */
.shop_new_img img {
  margin-top: 45px;
  width: 20px; }

/* line 202, ../sass/error.scss */
.cart_char_7 {
  color: #666;
  font-size: 1.2em;
  line-height: 34px; }

/* line 207, ../sass/error.scss */
.cart_char_text {
  line-height: 34px;
  color: #999;
  overflow: hidden; }

/* line 215, ../sass/error.scss */
.cart_char_text_1 {
  font-size: 1.2em;
  line-height: 31px;
  color: #999;
  width: 100%;
  height: 31px;
  float: left;
  background: #fff;
  border: none;
  padding-left: 1px; }

/* line 227, ../sass/error.scss */
.cart_char_sel {
  text-align: left;
  padding: 0;
  margin: 0;
  width: 70%;
  -webkit-appearance: none;
  font-size: 1.2em;
  line-height: 31px;
  color: #999;
  background: #fff;
  border: none;
  float: left; }

/* line 241, ../sass/error.scss */
.cart_char_text span {
  overflow: hidden; }

/* line 245, ../sass/error.scss */
.cart_char_selBox {
  width: 67%;
  display: block;
  height: 31px;
  border: 1px solid #999;
  overflow: hidden; }

/* line 252, ../sass/error.scss */
.cart_char_selBox img {
  width: 34px;
  float: right;
  height: 34px; }

/* line 258, ../sass/error.scss */
.cart_char_selBox_1 {
  width: 76%;
  display: block;
  height: 34px;
  border: 1px solid #999;
  overflow: hidden; }

/* line 265, ../sass/error.scss */
.cart_char_selBox_1 img {
  width: 34px;
  float: right;
  height: 34px; }

/* line 271, ../sass/error.scss */
.cart_char_text_char {
  width: 22%;
  float: left;
  font-size: 1.2em;
  color: #666;
  line-height: 31px; }

/* line 279, ../sass/error.scss */
.cart_char_text_char_0 {
  font-size: 1.2em;
  width: 22%;
  float: left;
  color: #666; }

/* line 285, ../sass/error.scss */
.cart_char_text_2 {
  width: 99%;
  float: left;
  margin: 0 auto;
  border: 1px solid #999;
  color: #999;
  height: 75px; }

/* line 294, ../sass/error.scss */
.cart_char_text_2_1 {
  width: 90%;
  padding-left: 10px;
  overflow: auto;
  -webkit-appearance: none;
  margin: 0 auto;
  line-height: 34px;
  text-align: left;
  background: #fff;
  font-size: 1.2em;
  border: none;
  color: #999; }

/* line 307, ../sass/error.scss */
.cart_button a {
  width: 95%;
  margin: 0 2.5% 3% 2.5%;
  display: block;
  height: 28px;
  line-height: 28px;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  font-size: 1.2em; }

/* line 320, ../sass/error.scss */
.green {
  background: #3cb035; }

/* line 323, ../sass/error.scss */
.grey {
  background: #c9c9c9; }

/* line 326, ../sass/error.scss */
.orange {
  background: #fb6c24; }

/* line 329, ../sass/error.scss */
.cart_text {
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 20px;
  line-height: 34px; }

/* line 337, ../sass/error.scss */
.cart_text p {
  font-size: 1.2em; }

/*-----------------------购物车空----------------------*/
/* line 341, ../sass/error.scss */
.shop_null_img {
  width: 65px;
  margin: 0 auto;
  margin-bottom: 17px;
  margin-top: 35px; }

/* line 347, ../sass/error.scss */
.shop_null_char {
  color: #666666;
  font-size: 1.4em;
  line-height: 28px;
  text-align: center;
  margin-bottom: 31px; }

/* line 355, ../sass/error.scss */
.shop_null_button a {
  display: block;
  width: 40%;
  margin: 0 auto;
  height: 28px;
  line-height: 28px;
  border-radius: 2px;
  text-align: center;
  color: #666;
  font-size: 1.4em;
  background-color: transparent;
  border: 1px solid #999;
  margin-top: 40px; }

/*-----------------------loading----------------------*/
/* line 374, ../sass/error.scss */
.loading {
  color: #999999;
  margin-top: 131px;
  text-align: center;
  font-size: 1em; }

@media screen and (max-width: 640px) {
  /* line 381, ../sass/error.scss */
  .bill_1 p {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; } }
@media screen and (min-width: 640px) {
  /* line 390, ../sass/error.scss */
  .cart_char_0 {
    margin-top: 12px;
    padding-bottom: 12px; }

  /* line 395, ../sass/error.scss */
  .bill_top {
    font-size: 2.2em;
    line-height: 80px; }

  /* line 399, ../sass/error.scss */
  .bill_1 {
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 2em;
    line-height: 44px; }

  /* line 405, ../sass/error.scss */
  .bill_1 .bill_1_char {
    width: 30px;
    margin-right: 34px;
    margin-top: 30px; }

  /* line 410, ../sass/error.scss */
  .bill_1 p {
    width: 100%; }

  /* line 412, ../sass/error.scss */
  .bill_1_img {
    margin-right: 34px;
    margin-top: 49px;
    width: 30px; }

  /* line 416, ../sass/error.scss */
  .cart_char_2 {
    width: 60%;
    line-height: 34px;
    margin-left: 2%; }

  /* line 421, ../sass/error.scss */
  .cart_char_1 {
    width: 23%; }

  /* line 424, ../sass/error.scss */
  .cart_char_1 img {
    width: 134px;
    height: 134px;
    border: 1px #999 solid; }

  /* line 429, ../sass/error.scss */
  .cart_char_2 p {
    width: 70%;
    font-size: 1.8em; }

  /* line 434, ../sass/error.scss */
  .cart_char_2 p:first-child {
    height: 76px;
    overflow: hidden;
    text-overflow: ellipsis; }

  /* line 441, ../sass/error.scss */
  .cart_char_3 {
    width: 15%; }

  /* line 444, ../sass/error.scss */
  .cart_char_3 img {
    margin-top: 38px;
    width: 34px; }

  /* line 447, ../sass/error.scss */
  .cart_char_3 p {
    font-size: 2em;
    line-height: 40px; }

  /* line 452, ../sass/error.scss */
  .cart_char_4 {
    font-size: 2.2em;
    line-height: 52px; }

  /* line 455, ../sass/error.scss */
  .cart_char_5 p {
    line-height: 40px;
    font-size: 2.2em; }

  /* line 460, ../sass/error.scss */
  .cart_char_6 img {
    width: 35px; }

  /* line 464, ../sass/error.scss */
  .shop_new_img img {
    width: 35px; }

  /* line 467, ../sass/error.scss */
  .cart_char_7 {
    font-size: 2.2em; }

  /* line 470, ../sass/error.scss */
  .bill_1_button {
    height: 74px;
    line-height: 74px;
    font-size: 2.4em;
    margin-top: 36px; }

  /* line 476, ../sass/error.scss */
  .shop_null_img {
    width: 130px;
    margin: 0 auto;
    margin-bottom: 34px;
    margin-top: 70px; }

  /* line 482, ../sass/error.scss */
  .shop_null_char {
    line-height: 56px;
    font-size: 2.4em;
    margin-bottom: 68px; }

  /* line 488, ../sass/error.scss */
  .shop_null_button a {
    height: 56px;
    line-height: 56px;
    font-size: 2.4em;
    margin-top: 80px; }

  /* line 495, ../sass/error.scss */
  .paym_botton a {
    height: 56px;
    line-height: 56px;
    font-size: 2.4em;
    margin-top: 80px; }

  /* line 501, ../sass/error.scss */
  .cart_char_text_char {
    line-height: 62px;
    width: 20%;
    font-size: 2.2em; }

  /* line 506, ../sass/error.scss */
  .cart_char_text_char_0 {
    line-height: 62px;
    font-size: 2em;
    width: 15%;
    float: left;
    color: #666; }

  /* line 513, ../sass/error.scss */
  .cart_char_selBox {
    width: 78%;
    height: 62px; }

  /* line 517, ../sass/error.scss */
  .cart_char_selBox_1 {
    width: 84%;
    height: 62px; }

  /* line 522, ../sass/error.scss */
  .cart_char_text_1 {
    line-height: 62px;
    height: 62px;
    font-size: 2em; }

  /* line 528, ../sass/error.scss */
  .cart_button a {
    height: 56px;
    line-height: 56px;
    font-size: 2.2em; }

  /* line 533, ../sass/error.scss */
  .cart_char_selBox img {
    width: 62px;
    height: 62px; }

  /* line 537, ../sass/error.scss */
  .cart_char_selBox_1 img {
    width: 62px;
    height: 62px; }

  /* line 541, ../sass/error.scss */
  .cart_char_sel {
    line-height: 62px;
    height: 62px;
    font-size: 2em; }

  /* line 547, ../sass/error.scss */
  .cart_char_text_2 {
    height: 100px; }

  /* line 550, ../sass/error.scss */
  .cart_char_text_2_1 {
    padding-left: 20px;
    font-size: 2em;
    height: 90px; }

  /* line 555, ../sass/error.scss */
  .cart_input {
    font-size: 2em;
    line-height: 54px; }

  /* line 559, ../sass/error.scss */
  .shop_new {
    color: #999;
    font-size: 1em;
    line-height: 40px;
    width: 100%;
    float: left; }

  /* line 566, ../sass/error.scss */
  .cart_text p {
    font-size: 1.4em;
    line-height: 40px; }

  /* line 570, ../sass/error.scss */
  .paym_char {
    font-size: 1.4em;
    line-height: 74px; }

  /* line 574, ../sass/error.scss */
  .league_char {
    font-size: 1.8em;
    height: 50px;
    margin-left: 25%;
    margin-right: 25%; }

  /* line 582, ../sass/error.scss */
  .loading {
    margin-top: 262px;
    font-size: 1.8em; }

  /* line 587, ../sass/error.scss */
  .cart_char_4 div {
    width: 52px;
    line-height: 52px; } }
/* line 594, ../sass/error.scss */
.search_order {
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #cccccc;
  padding: 20px 0 20px 0; }
  /* line 599, ../sass/error.scss */
  .search_order .search_img {
    vertical-align: middle;
    width: 30%; }
  /* line 603, ../sass/error.scss */
  .search_order .search_rigth {
    font-size: 1.8em;
    float: right;
    width: 60%;
    min-width: 286px; }
    /* line 608, ../sass/error.scss */
    .search_order .search_rigth .red_text {
      color: red; }
